:root {
    --bg: #242424;
    --cool-white: #f5f5f5;
    --selected: #56C200;
    --occupied: #CE0000;
}
html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    transition: 0.5s;    
    background-color: var(--bg);
    color: var(--cool-white);
}

a, a:visited, a:hover {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li, li::before, li::after {
    list-style: none;
    margin: 0;
    padding: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
}
.flex {
    display: flex;
}
.flex-ai-c {
    align-items: center;
}
.flex-jc-c {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.container {
    margin: 0 70px;
}
.occupied svg path, .occupied svg rect{
    fill: var(--occupied) !important;
}
.selected svg path, .selected svg rect{
    fill: var(--selected) !important;
}
#head {
    text-align: center;
    margin-top: 40px;
}
.select-movie {
    position: relative;
    height: 36px;
    border: 0;
    border-radius: 5px;
    padding: 0 12px;
}

.seats-info {
    display: flex;
    justify-content: center;
    margin: 32px 0 58px 0;
}
.available, .selected {
    margin-right: 24px;
}
.single-info {
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.available-seat {
    background: var(--cool-white);
}
.selected-seat {
    background: var(--selected);
}
.occupied-seat {
    background: var(--occupied);
}
.seats {
    display: flex;
}
.margin-seats {
    margin-right: 51px;
}

.single-seat {
    margin-bottom: 22px;
}